= javascript_bundle_tag "RegistrationsNew"
= stylesheet_bundle_tag 'RegistrationsNew'

:javascript
  window.errorMessages = #{raw resource.errors.full_messages.to_json}
  window.minimumPasswordLength = #{@minimum_password_length}

#registrations-app
  %registrations-new
